﻿@model AspNet.Models.Story

@{
    ViewBag.Title = "Checker";
}

<h2>Проверка истори</h2>

@if (ViewBag.IsChecker)
{
    <h2> <span class="label label-info">@Model.Id</span> @Model.Title</h2>
    <tt class="alert-warning">@Model.PostDate</tt>
    <p>@Model.Text</p>
    <small class="alert-success">Posted by <i>@Model.Email</i></small>

    <br/>

    <div class="col-lg-3 block"></div>
    <div class="col-lg-3">
        @Html.ActionLink("Показать", "Approve", "User", new {id = Model.Id}, new {@class = "btn btn-success"})
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Удалить", "Decline", "User", new {id = Model.Id}, new {@class = "btn btn-danger"})
    </div>
    <div class="col-lg-3"></div>
}
else
{
    <big><mark>No new Story.</mark></big>
}