﻿@model AspNet.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Авторизация</h2>
<p>Status: @Model.Status</p>
<p>Session: @Session["admin"]</p>

@if ((string)Session["admin"] == "1")
{
    <div class="col-lg-2 block"></div>
    <div class="col-lg-6">
        @Html.ActionLink("Exit","Logout","User", new{ }, new{@class = "btn btn-danger"})
    </div>
    <div class="col-lg-4"></div>
}
else
{
    using(Html.BeginForm("Index","User"))
    {
        <div class="col-lg-2 block">
            Login:
        </div>
        <div class="col-lg-6">
            @Html.TextBox("Login", Model.Login, new {@class = "form-control"})
        </div>
        <div class="col-lg-4">
            <mark>@Html.ValidationMessage("Login")</mark>
        </div>


        <div class="col-lg-2 block">
            Password:
        </div>
        <div class="col-lg-6">
            @Html.Password("Password", Model.Password, new {@class = "form-control"})
        </div>
        <div class="col-lg-4">
            <mark>@Html.ValidationMessage("Password")</mark>
        </div>


        <div class="col-lg-2 block"></div>
        <div class="col-lg-6">
            <input type="submit" value="Sing in" class="btn-lg btn-primary"/>
        </div>
        <div class="col-lg-4"></div>
    }
}

