﻿
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p><strong>Query:               </strong>@ViewBag.Query</p>

<p><strong>Exception:           </strong>@ViewBag.Exception</p>
<p><strong>InnerException       </strong>@ViewBag.InnerException</p>
<p><strong>Message:             </strong>@ViewBag.Message</p>
<p><strong>TargetSite:          </strong>@ViewBag.TargetSite </p>
<p><strong>StackTrace           </strong>
    @foreach (string st in ViewBag.StackTraces)
    {
        @st <br/> 
    }



