﻿@model AspNet.Models.Story

@{
    ViewBag.Title = "Add";
}

<h2>Прислать новую историю</h2>

@using (Html.BeginForm())
{
    <div class="col-lg-2 block">
        Название истории:
    </div>
    <div class="col-lg-6">
        @Html.TextBox("title", Model.Title, new {@class = "form-control"})
    </div>
    <div class="col-lg-4">
        <mark>@Html.ValidationMessage("Title")</mark>
    </div>


    <div class="col-lg-2 block">
        Текст истории:
    </div>
    <div class="col-lg-6">
        @Html.TextArea("text", Model.Text, new { @class = "form-control", @rows = "10"  })
    </div>
    <div class="col-lg-4">
        <mark>@Html.ValidationMessage("Text")</mark>
    </div>


    <div class="col-lg-2 block">
        Адрес эл. почты:
    </div>
    <div class="col-lg-6">
        @Html.TextBox("email", Model.Email, new { @class = "form-control" })
    </div>
    <div class="col-lg-4">
        <mark>@Html.ValidationMessage("email")</mark>
    </div>


    <div class="col-lg-2 block"></div>
    <div class="col-lg-6">
        <input type="submit" value="Отравить" class="btn-lg btn-success"/>
    </div>
    <div class="col-lg-4"></div>
}

