﻿@model AspNet.Models.Story

@{
    ViewBag.Title = "Number";
}


<h2> <span class="label label-info">@Model.Id</span> @Model.Title</h2>
<tt class="alert-warning">@Model.PostDate</tt>
<p>@Model.Text</p>
<small class="alert-success">Posted by <i>@Model.Ename</i></small>
