﻿@model AspNet.Models.Story
           
@{
    ViewBag.Title = "Index";
}



@foreach (var x in Model.List)
{
    <h2>@Html.ActionLink(x.Id,"number", "story", 
        new { id = x.Id}, 
        new { @class = "label label-info" })&nbsp; @x.Title</h2>
    <tt class="alert-warning">@x.PostDate</tt>
    <p>@x.Text</p>
    <small class="alert-success">Posted by <i>@x.Ename</i></small>
    <hr/>
}
