﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header,
#container,
#footer {
    clear: both;
    width: 960px;
    margin: 0;
}

.block {
    clear: both;
}

#container {
    min-height: 600px;

}


